body{
  align-items: center;
  justify-content: center;
  background-color: lightcyan;
}
.App {
  display: flex;
  justify-content: center;
}
.displaydiv{
  display: flex;
    background-color: white;
    width: 100px;
    height: 500px;
    /* color white */
  
}
.cards{
  display: flex;
  background-color: blueviolet;
  width: 20px;
  margin: 5px;
  height: 20px;
}